body{
    background-color: lightgreen;
}


.testA{
    border: solid 5px;
    border-color: antiquewhite;
}


.testB1{
    background-color: rgb(186, 108, 49);
}
.testB2{
    background-color: rgb(40, 159, 169);
}